.button-link {

    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    border: none;

    background-color: inherit;

    font: inherit;
    color: blue;
    text-decoration: underline;

    cursor: pointer;

}

.button-button {
    margin-top: auto;
    /*link alignment on the bottom*/
    padding: 0.5rem;

    border: 2px solid black;
    border-radius: 10%;

    font: inherit;
    text-decoration: none;

    cursor: pointer;

    color: black;
    background-color: papayawhip;

}


.button-button:hover {
    background-color: burlywood;
}

.button-title {
    margin-top: auto;
    /*link alignment on the bottom*/
    padding: 0rem;
    width: 100%;

    border: 2px solid black;

    font: inherit;
    text-decoration: none;

    cursor: pointer;

    color: black;
    background-color: papayawhip;



}

.button-title:hover {
    background-color: burlywood;
}

.button-carousel {
    border: none;    
    padding: 0.5rem 1rem;

    background-color: black;
    opacity: 50%;
    color: white;

    font-size: 1.5rem;

    cursor: pointer;
}

.button-carousel:focus {
    outline: none;
}

.button-carousel:hover {
    background-color: black;
    opacity: 80%;
}