*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: papayawhip;
  --banner-bg-color: burlywood;
}

html,
body {
  margin: 0;

  height: 100%;

  background-color: var(--bg-color);

  font-family: sans-serif;
}

#root {
  /* height: 100%; */
  min-height: 100vh; /* 让根元素至少撑满整个屏幕 */
  display: flex; /* 让内容可以自然排列 */
  flex-direction: column;
}