.panels {
    /* 12 GRID*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    padding: 0rem;
}

.panel {
    grid-column: span 12;
    display: block;
    place-items: center;
    flex-direction: row;

    padding: 0.5rem;
    border: 1px solid black;
}

.panel+.panel {
    border-top: none; /*border would not get 2 times thick.*/
}

.panel__text{
    padding-left: 1rem;
}

.panel1__pic {
    float: right;/*picture is right side with words around*/

    width: 125px;
    height: auto;

    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;

}

.panel2__pic {
    float: left;
    /*picture is left side with words around*/

    width: 125px;
    height: auto;

    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0.5rem;

}

.panel__title {
    text-align: center;
}

.main__text {
    margin: 0 auto;
    padding: 0.5rem;
}

@media(min-width: 44rem) {

    .panels {
        padding: 1rem;

        gap: 1rem;
    }

    .panel {
        display: grid;
        grid-template-areas: "card__left-container card__right-container";
        grid-template-columns: auto 1fr;

        /* align-items: center; */
        /* text-align: left; */
        /* vertical-align: top; */
        margin: 0rem;
        padding: 0rem;

    }

    .panel+.panel {
        border: 1px solid black; /*withdraw the setting in mobile mode.*/
    }

    .panel1__text-container {
        grid-area: card__left-container;
    }

    .panel1__pic-container {
        grid-area: card__right-container;
    }

    .panel1__pic {
        /*not using scale!*/
        width: 200px;
        height: auto;

        margin-top: 0rem;

        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;

    }

    .panel2__text-container {
        grid-area: card__right-container;
    }

    .panel2__pic-container {
        grid-area: card__left-container;
    }

    .panel2__pic {
        width: 200px;
        height: auto;

        margin-top: 0rem;
        margin-right: 0rem;

        padding-left: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        /* position:relative;
        top:-0.5rem; */
    }


}